.main {
    font-size: 36px;
    font-weight: bold;
    Text-align: center;
    padding: 20px 20px 20px 20px;
}
  
.card {
    margin-left: 200px;
    width: 600px;
    height: 250px;
    text-align: center;
    padding: 50px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 0.5);
    background-color: #ffffff;
}
  
.left {
    font-size: 20px;
    font-weight: bold;
    color: #111;
    margin-top: 0px;
    background-color: #e0e0e9;
    position: absolute;
    width: 150px;
    left: 19%;
}
.left2 {
    font-size: 20px;
    font-weight: bold;
    color: #111;
    margin-top: 0px;
    background-color: #e0e0e9;
    position: absolute;
    width: 100px;
    left: 30%;
}
.btn {
    height: 30px;
    margin-top: -40px;
    background-color: #e0e0e9;
    position: absolute;
    width: 70px;
    left: 40%;
    box-shadow: 0 5px 10px rgb(0 0 0 / 0.5);
}
.right {
    position: relative;
    width: 150px;
    left: 72%;
    font-size: 20px;
    font-weight: bold;
    color: #111;
    margin-top: 0px;
    background-color: #e0e0e9;
}
.bottom {
    height: 180px;
    font-size: 20px;
    font-weight: bold;
    color: #111;
    margin-top: 60px;
    background-color: #e0e0e9;
}
