
.repeater{
  border-style: groove;
  position: relative;
  height: auto;
  width: 30%;
  text-align: right;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  border-width: 1px;
}
.item1 { grid-area: item1; }
.item2 { grid-area: item2; }
.oneItem { grid-area: item2; }

.gridItems{
    display: grid;
    grid-template-areas:
      'item1 item1 item1 item2 item2 item2';
    gap: 1px;
    padding: 1px;
    margin-left: 20%;
}